body{
  font-family: Arial;
  text-align:center;

  background: linear-gradient(#eeeeee, #ffffff);
}

#wait{
  font-size:120px;
  font-weight:bold;
  color:#555;  
}

#finalMsg{
  font-size:80px;
  font-weight:bold;
  color:#e60000;   
  animation: shake 0.2s infinite alternate;
}

#wakePic{
  width:300px;
  margin-top:20px;
}

@keyframes shake{
  from{transform: translateX(-5px);}
  to{transform: translateX(5px);}
}